
html{
  background-color: #D7D7D7;
}


nav{
  background-color:#CACAA8;
  width:100%;
  height:8em;
  border:2px solid gray;
  text-align: center;



}

nav a{
  float: right;
  display: inline-block;
  font-family: Sans-serif;
  font-weight: bold;
  padding-left: 2em;
  margin-right: 2em;
  margin-top: 5em;
font-size: 20px;
}


nav img {
  width:10em;
  height:10em;
  float:left;
  border-radius:840%;

}




main{
  background-color:#CACAA8;
  height:30em;
  width:100%;
  border:2px solid gray;
  margin-bottom: 5em;

margin-top: 5em;
}
#lcolumn{
  display: inline-block;
  width: 35%;
  background-color:white;
  height: 20em;
  margin-top: 8em;
  border-radius: 40%;

}
#rcolumn{
  display: inline-block;
  width: 35%;
  background-color:white;
  height: 20em;
  margin-left: 20em;
  position: relative;
 border-radius: 40%;

}

footer{
   background-color:#CACAA8;
  width:100%;
  height:8em;
  border:2px solid gray;

}

footer a img{
    float: right;
  width: 5em;
  height:5em;
  margin: 1em;
}
