
html{

  background-color:#4093E6;

}

body h1{
  text-align: center;

}



#body {
  width:100%;
  height:100em;
  background-color:#CACAA8;
  font-family: fantasy;
  color:white;
  padding:0.5em;
}
 #body p {
  font-size: 25px;

 }
#line {
  text-align: center;
}

 footer{
   background-color:#CACAA8;
  width:100%;
  height:8em;
  border:2px solid gray;
  margin-top: 2em;

}

footer a img{
    float: right;
  width: 5em;
  height:5em;
  margin: 1em;
}