html
{

  background-image: url("http://josueaceves.github.io/projects/sky.png");
}
body h1{
  text-align: center;

}
#body {
  width:100%;
  height:55em;
 background-image: url("http://josueaceves.github.io/back_paper.png");
  font-family: fantasy;
  color:black;
}
body div p{
  font-size: 25px;
  padding:2em;
}
footer{
   background-image: url("http://josueaceves.github.io/back_paper.png");
  width:100%;
  height:8em;
  border:2px solid gray;
  margin-top: 6em;

}

footer a img{
    float: right;
  width: 5em;
  height:5em;
  margin: 1em;
}